:root {
  --teal: #20c997;
}
#home {
  padding-top:120px; /* accounts for fixed navbar height */
}
body {
  background-color: #000000;
  scroll-behavior: smooth;
}

.form-control,
.form-control:focus {
  background-color: #343a40;
  color: #fff;
  border-color: #495057;
}

.form-control::placeholder {
  color: #bbb;
}

.d-grid {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


.project-img {
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #1f1f1f;
}
.social-icons a {
  color: var(--teal);
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a.github:hover {
  color: #ccc;
}

.social-icons a.linkedin:hover {
  color: #0077b5;
}

.social-icons a.email:hover {
  color: #ff5e5e;
}

@media only screen and (max-width: 767px){
  .footer *{
    text-align:center!important
  }
}